# Python (временные файлы)
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (его НЕЛЬЗЯ заливать, оно весит много)
venv/
.venv/
env/
Include/
Lib/
Scripts/

# База данных (в интернете у тебя будет другая БД, а эта — локальная)
db.sqlite3
# Секретные переменные окружения
.env

# Файлы VS Code или PyCharm
.vscode/
.idea/

# Статика (если ты её собираешь командой collectstatic)
staticfiles/